*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contains{
    background-image: url("background.jpg");
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100vw;
}
.imgs img{
    width: 60%;
}

.margin-bottom{
    margin-bottom:0px !important;
}
.bd{
    width:180px;
    margin: 30px auto;
    border-top: 4px solid white;
    
}
.banner{
    
    margin-top: 100px;
}
.form{
    background-color: rgba(208, 242, 245, 0.447);
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* clock */
 .overlay {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(4, 95, 100, 0.7);
}

.title {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


.col {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    color: white;
}

.col div {
    width: 250px;
    text-align: center;
}

.clock {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
.cardbody{
    background-color: black;
    color: white;
}

.cardbodycontainer ul{
    margin-left: 20px;
}
.cardbodycontainer h3{
    font-size: 2rem;
    border: 0px;
}
.side-border{
    height: 100px;
    width: 3px;
    background-color: white;
}

@media only screen and (min-width : 300px){
    .contains{
        width: 100% !important;
    }
    .imgs{
        margin-top: 100px;
    }
    
    /* .side-border{
        visibility:hidden;
    } */
} 


@media only screen and (min-width : 450px){
    .contains{
        width: 100% !important;
    }
    /* .side-border{
        height: 3px;
        width: 100px;
        background-color: white;
        margin-bottom: 10px;
    } */
    
    
}
    

@media only screen and (min-width : 1280px){
    .contains{
        width: 100% !important;

    }
    .brand{
        margin-right: 100px;
    }
    .imgs{
        margin-top: 100px;
    }
    /* .side-border{
        height: 3px;
        width: 100px;
        background-color: white;
        margin-bottom: 10px;
    } */
}
